@font-face{
	font-family: Roboto-Medium;
	src: url(fonts/Roboto/Roboto-Medium.ttf);
}

@font-face{
	font-family: Roboto-Bold;
	src: url(fonts/Roboto/Roboto-Bold.ttf);
}

@font-face{
	font-family: Roboto-Italic;
	src: url(fonts/Roboto/Roboto-Italic.ttf);
}

@font-face{
	font-family: Roboto-Regular;
	src: url(fonts/Roboto/Roboto-Regular.ttf);
}

body{
	margin: 0;
}

/* Header */
#header{
	margin-top: 10px;
	position: relative;
	color:#303030;
}


#header .wrapper{
	width: 1100px;
	position: relative;
	margin: 0 auto;
	height: 55px;
}

.fac-logo{
	float: left;
}


.header-menu{
	position: relative;
}

.header-menu  li{
	display: inline-block;
	margin-left: 20px;
	height: 30px;
	text-align: center;
}


ul{
	padding: 0;
	margin: 0;
}

.header-menu{
	float: left;
	margin-top: 5px;
	font-size: 10.2pt;
	margin-left: 120px;
	font-family: Roboto-Regular;
	list-style-type: none;
}

.header-menu .dropdown{
	position: absolute;
 	left: -9999px;
}

.header-menu .dropdown li{
	display: block;
	height: 90px;
}

.dropdown li a{
	padding-left: 10px;
	line-height: 25px;
	width: 150px !important;
	text-align: left !important;
	vertical-align: middle;
}

.dropdown li a:hover{
	color:#fff !important;
	background-color: #45b4b9;
}

.header-menu .dropdown ._1{
	border-radius: 5px 5px 0 0;
}

.header-menu .dropdown ._3{
	border-radius: 0 0 5px 5px;
}

.header-menu  li a{
	display: block;
	height: 30px; 
	width: 90px;
}

.header-menu .about-forum:hover .dropdown{
	display: block;
	left:0;
	top:30px;
}

.forum-date{
	margin-left: 20px;
	margin-top: 5px;
	font-family: Roboto-Medium;
	float: left;
	font-size: 10.2pt;
}

.forum-date div{
	display: block !important;
}


.date{
	color:#45b4b9;
}

.reg-button{
	float:left;
}

a{
	color:#303030;
	text-decoration:none;
}

 a:active {
    color:#303030; /* Цвет активных ссылок */
 }

 a:visited {
    color:#303030; /* Цвет посещенных ссылок */
 }

 .header-menu  li a:hover{
 	color:#45b4b9;
 }

 .reg-button{
 	left: 20px;
 	position: relative;
 	top: -3px;
 	width: 120px;
 	font-family: Roboto-Medium;
 	font-size: 10.2pt;
 	height: 35px;
 	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	border-radius: 10px;
	border: solid 1px #45b4b9;
 }

 .reg-button{
 	color:#45b4b9;
 }

 .reg-button:hover{
 	color:#fff;
 	cursor: pointer;
 }

 .reg-button:hover{
 	background-color:#45b4b9; 
 }

 /* Header */

 /* Footer */

#footer{
	background: #505050;
	font-family: Roboto-Medium;
	position: relative;
	color:#fff;
}

#footer .wrapper{
	margin: 0 auto;
	min-width: 1000px;
	max-width: 1260px;
	padding-top: 30px;
	height: 260px;
}

#footer .menu-header{
	font-family: Roboto-Medium;
	font-size: 11pt;
	border-bottom: solid 2px #26a8ad;	
}

#footer .footer-menu > div{
	float:left;
	width: 24%;
	height: 240px;
}

.about-forum  .menu-header{
	width: 100px;
}

.info{
	font-family: Roboto-Regular;
	font-size: 9pt;
	margin-top: 20px;
	width: 90%;
}

.forum-link{
	color: #329599;
	margin-top: 20px;
	display: block;
	font-size: 9.6pt;
}

.forum-link:hover{
	cursor: pointer;
	color:#027aca;
}

.about-forum {
	border-right: solid 1px #707070; 	
}

.map-site .menu-header{
	width: 120px;
}

.map-site{
	border-right: solid 1px #707070;
	padding-left: 20px;
}

.map-links{
	
}

.links{
	display: inline-block;
	margin-top: 20px;
	margin-right: 25px;
}

.links a{
	display: block;
	font-family: Roboto-Regular;
	font-size: 9.3pt;
	color:#fff;
	height: 18px;
	margin-bottom: 15px;
	width: 100%;
	border-bottom: dotted 1px #fff;
}

.links a:hover{
	color:#0077cc;
	border-color: #0077cc;
}

.support{
	padding-left: 20px;
	border-right: solid 1px #707070;
}

.support .menu-header{
	width: 150px;
}

.sup-text{
	font-family: Roboto-Regular;
	font-size: 9.3pt;
	margin-top: 20px;
	width: 180px;
	margin-bottom: 15px;
}

.supp img{
	margin-right: 5px;
    position: relative;
    top: 2px;
}

.supp{
	font-family: Roboto-Regular;
	font-size: 9.3pt;
	margin-bottom: 15px;
}


.question{
	padding-left: 20px;
}


.question .menu-header{
	width: 150px;
}


.quesrion-info{
	width:70%;
}

.quesrion-info .text{
	margin-top: 15px;
	font-family: Roboto-Regular;
	font-size: 9.2pt;
	color:#fff;
}

.personal-data{
	margin-top: 15px;
}

.personal-data input, div{
	display: block;
}

.personal-data input{
	line-height: 26px;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 100%;
	padding-left: 4px;
}

input{
	outline:none;
}

::-webkit-input-placeholder 
{
	color:#dddddd; font-family:font-family: Roboto-Regular;
	font-size: 9.2pt;
}

::-moz-placeholder{
	color:#dddddd;
	font-family: Roboto-Regular;
	font-size: 9.2pt;
	}/* Firefox 19+ */
:-moz-placeholder{
	color:#dddddd;
	font-family: Roboto-Regular;
	font-size: 9.2pt;
}/* Firefox 18- */
:-ms-input-placeholder {
	color:#dddddd;
	font-family: Roboto-Regular;
	font-size: 9.2pt;
}

.phone-me{
	line-height: 40px;
	vertical-align: middle;
	background-color: #26a8ad;
	color:#fff;
	font-family: Roboto-Medium;
	text-align: center;
	font-size: 10pt;
}


.phone-me:hover{
	cursor: pointer;
	background-color: #249da2;
}

.question{
	width: 22% !important;
}



 /* Footer */



 /* About */



.header-forum .wrapper, .main-forum .wrapper, .forum-article .wrapper, .forum-sponsor .wrapper, .purpose .wrapper, .place .wrapper{
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

.header-forum .wrapper{
	position: relative;
	line-height: 150px;
}


.header-forum{
	background-color: #26a8ad;
	font-family: Roboto-Medium;
	color:#fff;
	font-size: 21pt;
}


.main-forum .wrapper{
	height: 80px;
	padding-top: 20px;
	font-family: Roboto-Regular;
	color:#303030;
	font-size: 10pt;
}

.main-forum .wrapper span{
	color:#3366cc;
}

.forum-article{
	overflow: hidden;
}

.forum-article h4{
	font-family: Roboto-Medium;
	color:#303030;
}

.forum-article .wrapper{
    min-height: 262px;
}

.article-contain{
	font-family: Roboto-Regular;
	color:#303030;
	font-size: 11.7pt;
}

.article-contain .txt{
	float:left;
	width: 60%;
}

.article-contain img{
	float:right;
}


.forum-sponsor{
	overflow: hidden;
	min-height: 260px;
}

.forum-sponsor h4{
	font-family: Roboto-Bold;
	color:#26a8ad;
}

.sponsor-image .image{
	margin-right: 70px;
	width: 290px;
    text-align: center;
    height: 178px;
    padding-top: 20px;
	box-shadow: 1px 5px 5px rgba(0,0,0,0.3);
	float:left;
}

.sponsor-name{
	width:102%;
}

.sponsor-name span{
	font-family: Roboto-Regular;
	color:#303030;
	font-size:10.5pt;
}

.buttons-reg .butt{
	margin-top: 35px;
	float:left;
	margin-right: 15px;
	line-height: 50px;
	padding: 0px 10px  ;
	text-align: center;
	vertical-align: middle;
	font-family: Roboto-Medium;
	font-size: 10.5pt;
	border-radius: 10px;
}

.buttons-reg .butt:hover{
	cursor: pointer;
}

.buttons-reg .reg{
	background-color: #26a8ad;
	color:#fff;
}


.buttons-reg .reg:hover{
	background-color: #249da2;
}

.buttons-reg .forum-contain{
	border:solid 1px #26a8ad;
	color:#26a8ad;
}

.buttons-reg .forum-contain:hover{
	color:#fff;
	background-color: #249da2;
}

.purpose{
	padding-top: 30px;
	overflow: hidden;
}

.header-purpose, .place-purpose{
	border-bottom: solid 2px #26a8ad;
	width: 150px;
	font-family: Roboto-Medium;
	font-size:13pt;
}


.items-purpose{
	margin-top: 25px;
}


.items-purpose .item-purpose{
	margin-bottom: 15px;
	font-family: Roboto-Regular;
	color:#303030;
	font-size: 10.5pt;
	line-height: 20px;
	overflow: hidden;
}

.item-purpose img{
	float:left;
	padding-top: 3px;
	margin-right: 15px;
}


.item-purpose  .item-text{
	float:left;
}

.place-purpose{
	width: 180px !important;
}

.place{
	margin-top:40px;
	color:#303030;
}

.place-name{
	margin-top: 25px;
	font-family: Roboto-Italic;
	font-size:12pt;
	font-weight: bold;
	margin-bottom: 25px;
}

.place .place-item{
	font-family: Roboto-Regular;
	font-size:10.5pt;
	font-weight: bold;
	overflow: hidden;
	margin-bottom: 20px;	
}

.place-item img, .place-etc img{
	float:left;
	margin-right: 10px; 
}

.place-item img{
	padding-top: 8px;
}

.place-etc img{
	padding-top: 2px;	
}

.place-item .place-text{
	float:left;
}

.place-etc{
	font-family: Roboto-Regular;
	font-size:10.5pt;
	margin-bottom: 5px;
	font-weight: bold;
	overflow: hidden;
}


/* About */


/* Программа форума*/

.programma-forum-text{
	font-family: Roboto-Regular;
	font-size: 13pt;
	line-height: 22px;
	margin-bottom: 30px;
	float:left;
}

.programma-forum-contain{
	color:#303030;
}

.timetable-item {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size:17px;
	font-family: Roboto-Regular;
	border-bottom: solid 1px #dddddd;
	overflow: hidden;
}

.last-timetable-item{
	border:none;
}

.timetable-item  div{
	float:left;
}

.programma-forum-contain .wrapper{
	width: 1100px;
    margin: 0 auto;
}

.forum-programs-header{
	background-color: #26a8ad;
	text-align: center;
	line-height: 60px;
	font-family: Roboto-Medium;
	font-size: 18px;
	vertical-align: middle;
	color:#fff;
}

.forum-time{
	width: 32%;
}

.forum-msg,.trek{
	color:#eb6d18;
}


.forum-head{
	color:#eb6d18;
}

.timetable-item p, .discussion-item p, .disc-points{
	font-size:15px;
	color:#303030;
}

.forum-msg .cofe{
	position: relative;
	left:7px;
	top:2px;
}

.discussion-item{
	float:left;
	width: 45%;
	overflow: hidden;
	font-size: 17px;
	padding-left: 40px;
}

.forum-discussion{
	font-family: Roboto-Regular;
	overflow: hidden;
	border-bottom: solid 1px #dddddd;
}

.trek{
	margin-bottom: 30px;
}

.disc-time{
	padding-top: 30px;
	padding-bottom: 25px;
}


.discussion-item p{
	line-height: 18px;
}

.disc-point{
	margin-bottom: 20px;
}


.disc-point img{
	margin-right: 4px;
}

.disc-line{
	border-right: solid 1px #dddddd;
}


.next-programms{
	font-family: Roboto-Regular;
	margin-top:40px;
	padding-left: 40px;
	margin-bottom: 60px;
}

.next-programms-msg{
	color: #eb6d18;
	font-size: 17px;
	line-height: 30px;
	float:left;
}

.forum-msg{
	width: 68%;
}

.next-programms-items{
	margin-top:20px;
	font-size: 15px;
	line-height: 20px;
}

.download{
	float:right;
	border-radius: 10px;
	border: solid 1px #26a8ad;
	color:#26a8ad;
	font-family: Roboto-Medium;
	font-size: 15px;
	text-align: center;
	padding: 15px;
}

.download:hover{
	cursor: pointer;
	background-color: #26a8ad;
	color:#fff;
}

.line{
	    overflow: hidden;
}


.download .download-image
{
	background-image: url(images/download.png);
	width: 14px;
	height: 13px;
	margin-right: 3px;
	float:left;
}

.download:hover .download-image{
	background-image: url(images/download1.png);
}


.download .content{
	float:left;
}

/* Программа форума*/



/* Организатоы*/

.organizatori-content{
	color:#303030;
	overflow: hidden;
}


.organizator{
    overflow: hidden;
    margin-bottom: 50px;
}

.organizatori-content .wrapper{
	width:1100px;
	margin:0 auto;
	font-family: Roboto-Regular;
	font-size:15px;
}

.org-info-header{
	font-family: Roboto-Medium;
	font-size: 18px;
}

.off-site{
	font-family: Roboto-Medium;
}

.off-site a{
	font-family: Roboto-Regular;
	color:#3366cc;
	text-decoration: none;
}

.org-image, .org-info{
	float:left;
}

.org-image{
	padding-top: 30px;
	width: 260px;
    height: 200px;
    text-align: center;
}

.org-info{
	width:600px;
}

.tusur-logo{
	padding-top: 60px;
}


/* Регистрация */
.reg-content .wrapper{
	color:#303030;
	font-family: Roboto-Regular;
	width: 1100px;
    margin: 0 auto;
    position: relative;
}

.reg-text{
	font-size:15px;
}

.star{
	color:#cc0000;
}

.garant{
	color:#26a8ad;
	font-family: Roboto-Medium,Roboto-Italic;
}

.header-line{
	display: block;
	line-height: 50px;
}

.header-div{
	padding-top: 25px;
    padding-bottom: 25px;
}

.reg-forma{
	margin-top:50px;
	border-radius: 10px;
	border:solid 1px #26a8ad;
	padding-left: 60px;
	padding-right: 90px;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
}

.reg-forma-header{
	border-bottom:solid 2px #26a8ad;
	font-size: 17px;
    width: 200px;
	line-height: 20px;
	margin-bottom: 30px;
}

.reg-items .reg-item{
	margin-bottom: 30px;
	overflow: hidden;
}

.reg-line{
	margin-bottom: 20px;
}

.reg-txt{
	margin-right: 5px;
	font-size: 14px;
}

.reg-txt, .reg-line input{
	display: inline-block;
}

.reg-line input{
	line-height: 35px;
	border-radius: 3px;
	padding-left: 15px;
	border:solid 2px #d5dad6;
}

.reg-input-FIO{
	width: 902px;
}

.left{
	float:left;	
}

.right{
	float:right;
}

.reg-parts input{
	width: 330px;
}

.reg-line input:focus{
	border-color:#26a8ad;
}

.reg-input-doing{
	width: 754px;
}

.reg-input-science{
	width:836px;
}

input[type=radio ]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}

 input[type=radio ]:not(old) + label {
    display: inline-block;
    margin-left: -2em;
    line-height: 1.5em;
}

input[type=radio ]:not(old) + label > span {
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border: 2px solid #26a8ad;
    border-radius: 50%;
   
    background-image: -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image: -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image: -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));

    vertical-align: bottom;
}

input[type=radio]:not(old):checked + label > span > span {
    display: block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.125em;
    border: 1px solid #26a8ad;
    border-radius: 50%;
    background: #26a8ad;
    background-image: -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image: -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image: -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

input[type=radio ]:not(old) + label {
    display: inline-block;
    margin-left: -2em;
    line-height: 1.5em;
}

.reg-radio{
	display: inline-block;
	width:45%;
	float: left;
}

input[type=checkbox]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span {
    display: inline-block;
    width: 15px;
    height: 14px;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border: 2px solid #26a8ad;
    border-radius: 0.25em;
    
    vertical-align: bottom;
}

input[type=checkbox]:not(old):checked + label > span {

}

input[type=checkbox]:not(old):checked + label > span:before {
    content: '✓';
    display: block;
    width: 11px;
    color: #fff;
    font-size: 11px;
    line-height: 1em;
    position: relative;
    background-color: #26a8ad;
    text-align: center;
    
    font-weight: bold;
    left: 2px;
    top: 1px;
}

.reg-button-send{
	width: 200px;
	line-height: 50px;
	border-radius: 10px;
	text-align: center;
	font-family: Roboto-Medium;
	font-size:18px;
	vertical-align: middle;
	color: #26a8ad;
	border:solid 1px #26a8ad;
	margin:0 auto;
}

.reg-button-send img {
	margin-right: 2px;
	width: 17px;
	height: 13px;
	background:url(images/mail-1.png);
}

.reg-button-send:hover{
	cursor: pointer;
	background-color: #26a8ad;
	color:#fff;
}

.reg-button-send:hover img{
	background:url(images/mail-3.png);
}

/*Одиночная новость*/
.single-news .wrapper{
    width: 1100px;
    margin: 0 auto;
    position: relative;
    color:#303030;
    font-family: Roboto-Regular;
    overflow: hidden;
}

.single-news-header{
	font-family: Roboto-Medium;
	font-size: 18px;
	margin-bottom: 30px;
}

.news-date{
	color:#26a8ad;
	font-size: 14px;
}

.news-text{
	width: 45%;
	float:left;
	margin-right: 40px;
}

.news-source{
	margin-top: 30px;
	text-align: right;
	font-family: Roboto-Italic;
	font-size: 14px;
}

.news-img{
	float:left;
	width: 500px;
	height: 357px;
	background: url(images/ulukaev.png);
}

.news-back{
	margin-top: 20px;
	margin-bottom: 40px;
}

.news-back a{
	color:#3366cc;
	font-size: 14px;
}

.news-back:hover a{
	text-decoration: underline;
	color:#3467cc;
}

/*Одиночная новость*/



/*Список новостей*/

.news-list-items .wrapper{
	width: 1100px;
    margin: 0 auto;
    position: relative;
    color:#303030;
    font-family: Roboto-Regular;
    overflow: hidden;
}

.news-list-line{
	margin-bottom: 85px;
	    overflow: hidden;
}

.news-item{
	float: left;
    position: relative;
    width: 329px;
    margin-right: 56px;
}

.news-item-last{
	margin-right: 0;
	float: right;
}

.news-item .news-item-date{
	position: absolute;
    width: 50px;
    top: 20px;
    left: 30px;
    padding-top: 5px;
    height: 45px;
    color: #fff;
    font-family: Roboto-Medium;
    text-align: center;
    font-size: 16px;
    background-color: #eb6d18;
    vertical-align: middle;
}

.news-item-image{
	width: 329px;
	height: 250px;
	background-repeat: no-repeat;
}


.news-1{
	background-image: url(images/news1.png);
}


.news-item .news-item-header{
	font-family: Roboto-Medium;
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: solid 1px #26a8ad;
}

.news-item .news-item-txt{
	padding-left: 16px;
    padding-right: 12px;
    margin: 0 auto;
    float: left;
}

.news-part-text{
	font-size: 14px;
    margin-top: 10px;
    line-height: 18px;
    font-family: PTSerif;
    padding-left: 10px;
}

.news-item-txt a{
	margin-top:10px;
	color:#eb6d18;
	font-family: PTSerif;
	font-size: 14px;
	float:right;
}

.more-news{
	margin-top: 40px;
	text-align: center;
	line-height: 50px;
	border-radius: 10px;
	border:solid 1px #26a8ad;
	font-family: Roboto-Medium;
	font-size:17px;
	width: 200px;
	color: #26a8ad;
	margin: 0 auto;
	margin-bottom: 40px;
}


.more-news:hover{
	background-color: #26a8ad;
	cursor: pointer;
	color:#fff;
}

/*Список новостей*/


/* Cпонсорам */

.sponsoram .wrapper{
	color:#303030;
	overflow: hidden;
	font-family: Roboto-Regular;
	width: 1100px;
	margin: 0 auto;
}

.sponsoram-header{
	font-family: Roboto-Medium;
	font-size: 17px;
}

.sponsoram-image{
	width: 50%;
	float:left;
}

.sponsoram-text{
	font-size: 14px;
	float: left;
	width: 50%;
}

.sponsoram-text span{
	font-family: Roboto-Italic;
}


.sponsoram-image img{
	margin-left: 20px;
}

.sponsor-items-header{
	font-family: Roboto-Medium;
	font-size:17px;
	padding-bottom: 3px;
	border-bottom:solid 2px #26a8ad;
	width:200px;
	margin-bottom: 50px;
}

.sponsor-items{
	width: 50%;
	margin-top: 20px;
	margin-bottom: 40px;
}

.panel-group .panel{
	margin-bottom: 4px;
	border-radius: 10px;
	border:solid 1px #26a8ad;
}

.sponosor-txt{
	background-color: #f4f4f4;
	font-size: 15px;
}

.panel-default>.panel-heading{
	padding-left: 15px;
	padding-right: 25px;
}

.panel-default>.panel-heading:hover{
	cursor: pointer;
}